<%- include('../template/sidebar.ejs'); -%>
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>
        <div class="row text-center">

          <!-- <div class="col-md-4 mb-4">
            <div class="card bg-primary text-white h-100">
              <div class="card-body py-5">Primary Card</div>
              <div class="card-footer d-flex">
                View Details
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div> -->

          <div class="col-md-3 mb-4">
            <div class="card bg-warning text-dark h-100">
              <div class="card-body py-5">Warning Card</div>
              <div class="card-footer d-flex">
                View Details
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4">
            <div class="card bg-success text-white h-100">
              <div class="card-body py-5">Success Card</div>
              <div class="card-footer d-flex">
                View Details
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>

        </div>
    </main>
    <!-- dashboard script -->
    
  </body>
</html>
<script src="/public/javascripts/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="/public/javascripts/jquery-3.5.1.js"></script>
<script src="/public/javascripts/jquery.dataTables.min.js"></script>
<script src="/public/javascripts/dataTables.bootstrap5.min.js"></script>
<script src="/public/javascripts/script.js"></script>
<script>
  var Feature = (function() {
              //global space
              // var date = new Date();
              // var datetime = date.getFullYear()+ "-" +
              //         ("0" + (date.getUTCMonth()+1)).slice(-2) + "-" +
              //         ("0" + date.getUTCDate()).slice(-2) + " " +
              //         ("0" + date.getUTCHours()).slice(-2) + ":" +
              //         ("0" + date.getUTCMinutes()).slice(-2) + ":" +
              //         ("0" + date.getUTCSeconds()).slice(-2);
              return {
                  //function space
                  init: function() {
                  },
                  getStatistics : function(){
                    // $.ajax({
                    //   type: 'POST',
                    //         url: url,
                    //         data: { 
                                    
                    //         } 
                    // })
                  }
              }
          })();

  jQuery(document).ready(function() {
      Feature.init();
  });
</script>