
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>non-helmet_detection</title>
  <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/index/header_custom.css"/>
</head>
<body>
  <header>
    
  </header>
<!-- header -->
  <div class="container-main">
    
  </div>
  <div class="container-main border px-5 py-5 shadow-lg rounded" style="border-radius: 0.75rem!important;">
    <form action="login" method="post">
    <div class="form-login">
      <h2 class="mb-3 text-center">Sign in</h2>
      <div class="row mb-2">
        <label>Email</label>
        <input class="form-control mb-3" type="email" name ="username" required>
        <label>Password</label>
        <input class="form-control " type="password" name ="password" required>
      </div>
      <div class="row text-right mb-4" style="margin-left: 140px;">
        <a href="#">Forget Password?</a>
      </div>
      <div class="row validate-message">

      </div>
      <div class="row mb-4">
        <button class="btn btn-warning" type="submit">Login</button>
      </div>
      <p class=" text-center">Don’t have any account?,<a href="/registration"> Register</a></p>
    </div>
  </form>
  </div>
<!-- footer -->
</body>
</html>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"> </script>
<script src="/plugins/jquery/dist/jquery.min.js" type="text/javascript"> </script>
<script src="/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"> </script>
<script src="/plugins/jquery-blockui/jquery.blockUi.js" type="text/javascript"> </script>
<script src="/plugins/sweetalert2/dist/sweetalert2.all.min.js" type="text/javascript"> </script>
<script src="/plugins/select2/dist/js/select2.min.js" type="text/javascript"> </script>

<script type="text/javascript">
    var resultJson ='<%-JSON.stringify(data)%>';
    var resultObject = JSON.parse(resultJson);
    
    var Feature = (function(){
      return {
        submitLogin : function(){
            
        },
        init: function () {
          
        }
      }
    })();
    jQuery(document).ready(function () {
      Feature.init();
    });  
</script>
