<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-cycling'></i>
                <div class="logo_name">Project</div>
            </div>
            <i class='bx bx-menu' id="btn-menu"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cycling'></i>
                    <span class="links_name">Object Detection</span>
                </a>
                <span class="tooltip">Object Detection</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-report'></i>
                    <span class="links_name">Report</span>
                </a>
                <span class="tooltip">Report</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-user-detail' ></i>
                    <span class="links_name">User Manage</span>
                </a>
                <span class="tooltip">User Manage</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-user-rectangle' ></i>
                    <span class="links_name">Admin Manage</span>
                </a>
                <span class="tooltip">Admin Manage</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
            </li>
            
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_detail">
                    <img src="../../public/images/profile_default.jpg" alt="">
                    <div class="name_role">
                        <div class="name">
                            Phanuwat
                        </div>
                        <div class="role">
                            Admin
                        </div>
                    </div>
                </div>
                <i class="bx bx-log-out" id="logo_out"></i>

            </div>
        </div>
    </div>
    <!--Sidebar Script -->
    <script>
        let btn_menu = document.querySelector("#btn-menu");
        let sidebar = document.querySelector(".sidebar");

        btn_menu.onclick = function(){
            sidebar.classList.toggle("active");
        }

    </script>
    <!-- body -->
    <div class="body_content">
        <section>
            <div class="row">
                <div class="col">
                1 of 3
                </div>
                <div class="col-6">
                2 of 3 (wider)
                </div>
                <div class="col">
                3 of 3
                </div>
            </div>
            <div class="row">
                <div class="col">
                1 of 3
                </div>
                <div class="col-5">
                2 of 3 (wider)
                </div>
                <div class="col">
                3 of 3
                </div>
            </div>
        </section>
    </div>
</body>
</html>